@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM VGA 9x16";
  src: url("./assets/WebPlus_IBM_VGA_9x16.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .text-retro {
    text-rendering: geometricPrecision;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
  }
}
